<h2>My Favourite Orgs</h2>

<ul>
    {{#each model as |org|}}
        {{github-org
            org=org
            on-fav-clicked="addToItems"
        }}
    {{/each}}
</ul>

{{social-info
    name="Alex Griffiths"
    twitter="XanderAG"
    github="Xadren"    
    on-links-toggle="linksToggle"
}}

{{outlet}}
